header {
  text-align: center;
  padding: 20px;
}

header img.self-portrait {
  width: 200px;
  height: 300px;
  border-radius: 10%;
  display: block;
  margin: 0 auto;
}

header img.project1-img {
  width: 600px;
  height: 400px;
  border-radius: 10%;
  display: block;
  margin: 0 auto;
}

header img.project2-img {
  width: 600px;
  height: 400px;
  border-radius: 10%;
  display: block;
  margin: 0 auto;
}

p.contact {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}

nav.navbar {
  text-align: right;
  margin-bottom: 0%;
}

nav.navbar a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

nav.navbar a:hover {
  text-decoration: underline;
}

body {
  background-image: linear-gradient(to bottom, #c6f8ff, #595cff);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  padding-bottom: 60px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

section.education {
  border: 2px solid black;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  background-color: #9ea0f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section.education h2 {
  text-align: left;
  padding-bottom: 20px;
}

section.projects {
  float: left;
  width: 50%;
  border: 2px solid black;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  background-color: #9ea0f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section.projects h2 {
  padding-left: 32%;
  text-align: left;
}

section.projects ul {
  text-align: left;
}

aside.skills {
  float: right;
  width: 40%;
  padding-top: 20px;
  height: 30%;
  border: 2px solid black;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  background-color: #9ea0f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

aside.skills h2 {
  padding-left: 180px;
  text-align: left;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(96, 98, 253, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
}

p.description {
  font-size: 1.2em;
  margin-top: 10px;
}
p.features {
  text-align: left;
  font-size: 1.2em;
  margin-top: 10px;
}

ul.features {
  float: left;
  width: 70%;
  border: 2px solid black;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  background-color: #9ea0f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

aside.skills-used {
  float: right;
  border: 2px solid black;
  width: 20%;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  background-color: #9ea0f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
