body {
  background-color: #0095b6;
}

Header {
  text-align: center;
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
}

section.education {
  h2 {
    text-align: center;
  }
}

section.projects {
  h2 {
    text-align: center;
  }
}

section.skills {
  h2 {
    text-align: center;
  }
}
